@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-backdrop {
  transition-duration: 500ms; /* Adjust the duration to make the opacity transition faster or slower */
}
.img{
    --shine-deg: 45deg;
    position: relative;
    overflow: hidden;
    
    border: 1px solid rgb(15 23 42);
    background-color: rgb(9 9 11);
    padding: 4rem 2rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    max-width: 28rem;
  
    background-repeat: no-repeat;
    background-position: -100% 0, 0 0;
  
    background-image: linear-gokradient(
      var(--shine-deg),
      transparent 20%,
      transparent 40%,
      rgb(68, 68, 68, 0.2) 50%,
      rgb(68, 68, 68, 0.2) 55%,
      transparent 70%,
      transparent 100%
    );
  
    background-size: 250% 250%, 100% 100%;
    transition: background-position 0s ease;
    position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%
}
.img:hover {
    
    background-position: 200%0, 0 0;
    transition-duration: 1.5s;
  }